<!-- Llamada al componente inicio-usuario -->
<app-inicio-usuario></app-inicio-usuario>

<div class="grid-container">
    <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CIENCIASEDUCACION.png', '1')">
      <img src="assets/CIENCIASEDUCACION.png" alt="Imagen de Ciencias de la Educación">
      <h1>Ciencias de la Educación</h1>
    </div>
  
    <div class="EDIFICIO"(click)="guardarRutaImagen('assets/PSICOLOGIA.png', '2')">
      <img src="assets/PSICOLOGIA.png" alt="Imagen de Psicología">
      <h1>Psicología</h1>
    </div>
  
    <div class="EDIFICIO"(click)="guardarRutaImagen('assets/TRABAJOSOCIAL.png', '3')">
      <img src="assets/TRABAJOSOCIAL.png" alt=" Imagen Trabajo Social">
      <h1>Trabajo Social</h1>
    </div>
<div class="EDIFICIO"(click)="guardarRutaImagen('assets/cienciascomunicacion.png', '4')">
    <img src="assets/cienciascomunicacion.png" alt="Imagen de Ciencias Comunicacion">
    <h1>Ciencias Comunicacion</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/DERECHO.jpg', '5')">
    <img src="assets/DERECHO.jpg" alt="Imagen de Derecho">
    <h1>Derecho</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CONTABILIDADYAUDITORIA.png', '6')">
    <img src="assets/CONTABILIDADYAUDITORIA.png" alt="Imagen de naturaleza">
    <h1>Contabilidad y Auditoría</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CIENCIASADMINISTRATIVAS.png', '7')">
    <img src="assets/CIENCIASADMINISTRATIVAS.png" alt="Imagen de naturaleza">
    <h1>Ingeniería Industrial</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CIENCIASECONOMICAS.png', '8')">
    <img src="assets/CIENCIASECONOMICAS.png" alt="Imagen de naturaleza">
    <h1>Ciencias Economicas</h1>
  </div>
  
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CIENCIASMAR.png', '9')">
    <img src="assets/CIENCIASMAR.png" alt="Imagen de naturaleza">
    <h1>Ciencias Médicas</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/CIENCIASINFORMATICAS.png', '10')">
    <img src="assets/CIENCIASINFORMATICAS.png" alt="Imagen de naturaleza">
    <h1>Ciencias Informáticas</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/INGENIERIA.png', '11')">
    <img src="assets/INGENIERIA.png" alt="Imagen de naturaleza">
    <h1>Ingeniería</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/agropecuaria.png', '12')">
    <img src="assets/agropecuaria.png" alt="Imagen de naturaleza">
    <h1>Ciencias Agropecuarias</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/INDUSTRIAL.png', '13')">
    <img src="assets/INDUSTRIAL.png" alt="Imagen de naturaleza">
    <h1>Ingeniería Industrial</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/ARQUITECTURA.png', '14')">
    <img src="assets/ARQUITECTURA.png" alt="Imagen de naturaleza">
    <h1>Arquitectura</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/MEDICINA.png', '15')">
    <img src="assets/MEDICINA.png" alt="Imagen de naturaleza">
    <h1>Ciencias Médicas</h1>
  </div>
  <div class="EDIFICIO"(click)="guardarRutaImagen('assets/ODONTOLOGIA.png', '16')">
    <img src="assets/ODONTOLOGIA.png" alt="Imagen de naturaleza">
    <h1>Odontología</h1>
  </div>
  </div>