div {
  margin: 20px;
  text-align: center; /* Centrar contenido horizontalmente */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block; /* Mostrar el título en línea */
  margin-bottom: 50px;
}

img {
  display: inline-block; /* Mostrar la imagen en línea */
  width: 150px; /* Ajustar el tamaño de la imagen */
  margin-left: 10px; /* Agregar un margen izquierdo para separar la imagen del título */
  margin-bottom: -20px; /* Ajustar el margen inferior para alinear con el título */
  border-radius: 10px; /* Hacer las esquinas de la imagen más redondas */
  opacity: 0.8; /* Aplicar un efecto de transparencia (0.0 a 1.0) */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #dabebe;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #923f3f;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f80000dc;
}

tr:hover {
  background-color: #4CAF50;
}

button {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.search-form{
margin-bottom: 10px;  
}