<div>
    <form (ngSubmit)="Validarres()">
        <h1><img src="assets/logouleam.png" alt="nombre de la imagen">Registro Gestión activos fijos</h1>
        <input type="text" name="usuario" placeholder="usuario" required>
        <input type="password" name="contra" placeholder="contraseña" required>
        <input type="text" name="nombrescompletos" placeholder="Nombres y Apellidos" required>
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <input type="tel" name="telefono" placeholder="teléfono" required>
        <input type="text" name="direccion" placeholder="Dirección" required>
        <input type="submit" name="register">
      </form>
</div>